

nav#topnav select, select.selectmenu {



      display: none;



    }





img, figure{ max-width: 100%; height: auto;}





/*== All =====================================================



========================================================================    */















@media (max-width: 1280px) {



.wrapper { clear: both; width: 96%;        }



#topmenu ul.menu li a {

    font-size: 14px;

}







}







@media (min-width: 1024px) and (max-width: 1279px) {   



.wrapper { clear: both; width: 99.5%;        }



.logo {

    width: 15%; max-width: 15%;

    padding: 15px 0px 5px 0px;

}

.head-col { width: 85%; }



#topmenu ul.menu li a {

    padding: 0px 7px;

    font-size: 13px;

}



#parallax {   background-size: 150%;



   background-attachment: fixed; background-position: center;



   padding: 60px 0px;



}











.slide-caption-inner { padding: 15px;}



.ban_caption h1 {  font-size: 24px; line-height: 110%;}



.ban_caption h3 {  font-size: 20px; line-height: 110%;}







}







/*== Up to 980px and beyond 768px ======================================



========================================================================*/



/* Portrait tablet to landscape and desktop */



@media (min-width: 769px) and (max-width: 980px) {



.wrapper { clear: both; width: 96%;   max-width: 640px;      }







.align-right, .alignright{  text-align: center; float: none;}



.box-80, .box-70, .box-75, .box-60, .box-65, .box-50, .box-40, .box-30, .box-33, .box-25, .box-20, .box-15  {



  float: none; width: 100%; margin: 10px auto; display: block; clear: both;



}



.row { margin: 0px; padding: 0px; }



.box-paddingL, .box-paddingR, .box-paddingS, .box-padding {  padding: 5px 0px; margin: 0; }



.head-col{  float: none; width: 100%; margin: 0 auto; text-align: center;}



.head-col i { float: none; display: inline-block;}



.line_1, .line_2{



    border: none;



}



.logo{ float:none; margin: 0px auto;  width: 160px; padding: 10px 0px; text-align: center; position: relative;  }



.logo img{  margin: 0px; padding: 0; width: 100%;   }



.logo-wrapper {  margin: 0; padding: 6px 8px;}







.sticky { position: relative; }







#topmenu{float:none;  margin: 0px auto; padding: 0px; width: 100%;  clear: both;  }



.moduletable_dropdown{ float: none; clear: both; margin: 0px auto;  width: 100%; background: none; text-align: center;}







nav#topnav ul, nav#topnav ul.menu     { display: none; }



select.selectmenu {   display: block; background: none;  }



select.selectmenu {float: none; display: block; cursor: pointer; width: 100%; margin: 0px auto; height: 40px; padding: 10px 10px; font-size: 0px;  border: 1px solid #000000; background:#000000 url("menu.png") left center no-repeat ;  position: relative; color: #FFFFFF; }



select.selectmenu option{ display: block;  background:#000000; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.2); padding: 6px 0px 10px 6px; text-transform: uppercase;font-size: 14px; line-height: 24px; }



select.selectmenu option:hover {  background:#231F20;}











.ban_caption h1 {  font-size: 20px; line-height: 110%;}



.ban_caption h3 {  font-size: 18px; line-height: 110%;}



.ban_caption p{ font-size: 12px;}







.phone {



  max-width: 180px; margin: 0 auto;



    padding-top: 0px; text-align: center;



}







#services{



  display: block; width: 100%;   margin: 0px;  position: relative; z-index: 1;



}



ul.service-list li {   list-style: none;



  padding-bottom: 4px; padding-left: 25x;  display: block; width: 80%;



}







#leftContent, #rightContent { float: none;  width: 96%; margin: 0 auto; padding: 2% 2% 3% 2%;  clear: both;    }







.gallery{ text-align: center; }







#parallax {   background-size: 150%;



   background-attachment: fixed; background-position: center;



   padding: 60px 0px; text-align: center; color: #FFFFFF;



}



#parallax h1{ color: #FFFFFF;  font-size: 40px; line-height: 110%; }







#affiliates { text-align: center; }











#usertools {  font-size: 13px; line-height: 120%; text-align: center; }







.section-ribbon, .section-ribbon::before {  display: none;  }







#footer, #bar {  text-align: center; }



.usertool{ text-align: center; }





.wp-megamenu-wrap.wpmm-mobile-menu ul.wp-megamenu li {
    width: 100% !important;
}





#footer .fmenu {list-style:none; width:auto; margin: 0 auto; display: inline-block;  }



#footer .fmenu li { float: none; display: inline-block;  }



#footer .fmenu li a { padding: 0px 10px;   }







.contact-info span {







    border-radius: 100px;



    display: block;



    height: 68px;



    line-height: 72px;



    margin-right: 0px; margin: 50px auto 0px auto;



    text-align: center;



    width: 68px;



}



.contact-info {



    border-bottom: 1px solid rgba(255, 255, 255, 0.2);



    height: auto;



    line-height: 118px;



    text-align: center;



}



.pricing-table.six-cols > div ,



.pricing-table.five-cols > div ,



.pricing-table.four-cols > div ,



.pricing-table.three-cols > div ,



.pricing-table.two-cols > div { width: 99%; margin: 0 auto; float: none; }







ul.features{  height: auto;  display: block; }



.ozy-motto-widget:before {   display: none; }  

.column-2, .column-3, .column-4, .column-5, .column-6{
     -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}

}







/*== Up to 767px ======================================================



========================================================================*/



/* Landscape phone to portrait tablet */



@media (max-width: 768px) {



.wrapper { clear: both; width: 90%;  max-width: 640px;       }



.align-right, .alignright{  text-align: center; float: none;}



.box-80, .box-70, .box-75, .box-60, .box-65, .box-50, .box-40, .box-30, .box-33, .box-25, .box-20, .box-15  {



  float: none; width: 100%; margin: 10px auto; display: block; clear: both;



}



.row { margin: 0px; padding: 0px; }



.box-paddingL, .box-paddingR, .box-paddingS, .box-padding {  padding: 5px 0px; margin: 0; }



.head-col{  float: none; width: 100%; margin: 0 auto; text-align: center;}



.head-col i { float: none; display: inline-block;}



.line_1, .line_2{



    border: none;



}



.logo{ float:none; margin: 0px auto;  width: 160px; padding: 10px 0px; text-align: center; position: relative;  }



.logo img{  margin: 0px; padding: 0; width: 100%;   }



.logo-wrapper {  margin: 0; padding: 6px 8px;}







.sticky { position: relative; }







#topmenu{float:none;  margin: 0px auto; padding: 0px; width: 100%;  clear: both;  }



.moduletable_dropdown{ float: none; clear: both; margin: 0px auto;  width: 100%; background: none; text-align: center;}







nav#topnav ul, nav#topnav ul.menu     { display: none; }



select.selectmenu {   display: block; background: none;  }



select.selectmenu {float: none; display: block; cursor: pointer; width: 100%; margin: 0px auto; height: 40px; padding: 10px 10px; font-size: 0px;  border: 1px solid #000000; background:#000000 url("menu.png") left center no-repeat ;  position: relative; color: #FFFFFF; }



select.selectmenu option{ display: block;  background:#000000; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.2); padding: 6px 0px 10px 6px; text-transform: uppercase;font-size: 14px; line-height: 24px; }



select.selectmenu option:hover {  background:#231F20;}







.ban_caption h1 {  font-size: 20px; line-height: 110%;}



.ban_caption h3 {  font-size: 18px; line-height: 110%;}



.ban_caption p{  }







.phone {



  max-width: 180px; margin: 0 auto;



    padding-top: 0px; text-align: center;



}







#services{



  display: block; width: 100%;   margin: 0px;  position: relative; z-index: 1;



}







ul.service-list li {   list-style: none;



  padding-bottom: 4px; padding-left: 25x;  display: block; width: 80%;



}







#leftContent, #rightContent { float: none;  width: 96%; margin: 0 auto; padding: 2% 2% 3% 2%;  clear: both;    }







.gallery{ text-align: center; }







#parallax {   background-size: 300%;



   background-attachment: fixed; background-position: center;



   padding: 60px 0px; text-align: center; color: #FFFFFF;



}



#parallax h1{ color: #FFFFFF;  font-size: 40px; line-height: 110%; }







#affiliates { text-align: center; }



.section-ribbon, .section-ribbon::before {  display: none;  }







#usertools {  font-size: 13px; line-height: 120%; text-align: center; }



iframe{ max-width: 100%; max-height: auto; }  



.wp-megamenu-wrap.wpmm-mobile-menu ul.wp-megamenu li {
    width: 100% !important;
}



#footer, #bar {  text-align: center; }



.usertool{ text-align: center; }



#footer .fmenu {list-style:none; width:auto; margin: 0 auto; display: inline-block;  }



#footer .fmenu li { float: none; display: inline-block;  }



#footer .fmenu li a { padding: 0px 10px;   }







.contact-info span {







    border-radius: 100px;



    display: block;



    height: 68px;



    line-height: 72px;



    margin-right: 0px; margin: 50px auto 0px auto;



    text-align: center;



    width: 68px;



}



.contact-info {



    border-bottom: 1px solid rgba(255, 255, 255, 0.2);



    height: auto;



    line-height: 118px;



    text-align: center;



}



.pricing-table.six-cols > div ,



.pricing-table.five-cols > div ,



.pricing-table.four-cols > div ,



.pricing-table.three-cols > div ,



.pricing-table.two-cols > div { width: 99%; margin: 0 auto; float: none; }







ul.features{  height: auto;  display: block; }



.ozy-motto-widget:before {   display: none; }

.column-2, .column-3, .column-4, .column-5, .column-6{
     -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}

}







/*== Up to 640px ==================================================



====================================================================*/



@media (max-width: 640px) {



.wrapper { clear: both; width: 90%; max-width: 480px;       }







.align-right, .alignright{  text-align: center; float: none;}



.box-80, .box-70, .box-75, .box-60, .box-65, .box-50, .box-40, .box-30, .box-33, .box-25, .box-20, .box-15  {



  float: none; width: 100%; margin: 10px auto; display: block; clear: both;



}



.row { margin: 0px; padding: 0px; }



.box-paddingL, .box-paddingR, .box-paddingS, .box-padding {  padding: 5px 0px; margin: 0; }



.head-col{  float: none; width: 100%; margin: 0 auto; text-align: center;}



 .head-col i { float: none; display: inline-block;}



.line_1, .line_2{



    border: none;



}







.logo{ float:none; margin: 0px auto;  width: 80%; padding: 10px 0px; text-align: center; position: relative;  }



.logo img{  margin: 0px; padding: 0; width: 100%;   }



.logo-wrapper {  margin: 0; padding: 6px 8px;}







.sticky { position: relative; }







#topmenu{float:none;  margin: 0px auto; padding: 0px; width: 100%;  clear: both;  }



.moduletable_dropdown{ float: none; clear: both; margin: 0px auto;  width: 100%; background: none; text-align: center;}







nav#topnav ul, nav#topnav ul.menu     { display: none; }



select.selectmenu {   display: block; background: none;  }



select.selectmenu {float: none; display: block; cursor: pointer; width: 100%; margin: 0px auto; height: 40px; padding: 10px 10px; font-size: 0px;  border: 1px solid #000000; background:#000000 url("menu.png") left center no-repeat ;  position: relative; color: #FFFFFF; }



select.selectmenu option{ display: block;  background:#000000; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.2); padding: 6px 0px 10px 6px; text-transform: uppercase;font-size: 14px; line-height: 24px; }



select.selectmenu option:hover {  background:#231F20;}







.ban_caption, .ban_caption p{  }











.phone {



  max-width: 180px; margin: 0 auto;



    padding-top: 0px; text-align: center;



}







#services{



  display: block; width: 100%;   margin: 0px;  position: relative; z-index: 1;



}



.gallery{ text-align: center; }







#parallax {   background-size: 300%;



   background-attachment: fixed; background-position: center;



   padding: 60px 0px; text-align: center; color: #FFFFFF;



}



#parallax h1{ color: #FFFFFF;  font-size: 40px; line-height: 110%; }







#affiliates { text-align: center; }



iframe{ width: 100%; max-height: auto; }







#usertools {  font-size: 13px; line-height: 120%; text-align: center; }







.section-ribbon, .section-ribbon::before {  display: none;  }

.wp-megamenu-wrap.wpmm-mobile-menu ul.wp-megamenu li {
    width: 100% !important;
}

#footer, #bar {  text-align: center; }



.usertool{ text-align: center; }



#footer .fmenu {list-style:none; width:auto; margin: 0 auto; display: inline-block;  }



#footer .fmenu li { float: none; display: inline-block;  }



#footer .fmenu li a { padding: 0px 10px;   }







.contact-info span {







    border-radius: 100px;



    display: block;



    height: 68px;



    line-height: 72px;



    margin-right: 0px; margin: 50px auto 0px auto;



    text-align: center;



    width: 68px;



}



.contact-info {



    border-bottom: 1px solid rgba(255, 255, 255, 0.2);



    height: auto;



    line-height: 118px;



    text-align: center;



}



img.alignright, img.alignleft, img.alignnone, img.aligncenter {   float: none; max-width: 100%; height: auto; }







.pricing-table.six-cols > div ,



.pricing-table.five-cols > div ,



.pricing-table.four-cols > div ,



.pricing-table.three-cols > div ,



.pricing-table.two-cols > div { width: 99%; margin: 0 auto; float: none; }



ul.features{  height: auto;  display: block; }







.ozy-motto-widget:before {   display: none; }



.column-2, .column-3, .column-4, .column-5, .column-6{
     -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}



}







/*== Up to 480px ==================================================



====================================================================*/



/* Landscape phones and down */



@media (max-width: 480px) {







.wrapper { clear: both; width: 96%;        }







.align-right, .alignright{  text-align: center; float: none;}



.box-80, .box-70, .box-75, .box-60, .box-65, .box-50, .box-40, .box-30, .box-33, .box-25, .box-20, .box-15  {



  float: none; width: 100%; margin: 10px auto; display: block; clear: both;



}



.row { margin: 0px; padding: 0px; }



.box-paddingL, .box-paddingR, .box-paddingS, .box-padding {  padding: 5px 0px; margin: 0; }



.head-col{  float: none; width: 100%; margin: 0 auto; text-align: center;}



.head-col i { float: none; display: inline-block;}



.line_1, .line_2{



    border: none;



}



.logo{ float:none; margin: 0px auto;  width: 90%; padding: 10px 0px; text-align: center; position: relative;  }



.logo img{  margin: 0px; padding: 0; width: 100%;   }



.logo-wrapper {  margin: 0; padding: 6px 8px;}







.sticky { position: relative; }















#topmenu{float:none;  margin: 0px auto; padding: 0px; width: 100%;  clear: both;  }



.moduletable_dropdown{ float: none; clear: both; margin: 0px auto;  width: 100%; background: none; text-align: center;}







nav#topnav ul, nav#topnav ul.menu     { display: none; }



select.selectmenu {   display: block; background: none;  }



select.selectmenu {float: none; display: block; cursor: pointer; width: 100%; margin: 0px auto; height: 40px; padding: 10px 10px; font-size: 0px;  border: 1px solid #000000; background:#000000 url("menu.png") left center no-repeat ;  position: relative; color: #FFFFFF; }



select.selectmenu option{ display: block;  background:#000000; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.2); padding: 6px 0px 10px 6px; text-transform: uppercase;font-size: 14px; line-height: 24px; }



select.selectmenu option:hover {  background:#231F20;}







.ban_caption, .ban_caption p{  }







.phone {



  max-width: 180px; margin: 0 auto;



    padding-top: 0px; text-align: center;



}







#services{



  display: block; width: 100%;   margin: 0px;  position: relative; z-index: 1;



}







ul.service-list li {   list-style: none;



  padding-bottom: 4px; padding-left: 25x;  display: block; width: 80%;



}







.gallery{ text-align: center; }







#parallax {   background-size: 300%;



   background-attachment: fixed; background-position: center;



   padding: 60px 0px; text-align: center; color: #FFFFFF;



}



#parallax h1{ color: #FFFFFF;  font-size: 40px; line-height: 110%; }







#affiliates { text-align: center; }



iframe{ width: 100%; max-height: auto;min-height: 250px; }







#usertools {  font-size: 13px; line-height: 120%; text-align: center; }



.section-ribbon, .section-ribbon::before {  display: none;  }



.wp-megamenu-wrap.wpmm-mobile-menu ul.wp-megamenu li {
    width: 100% !important;
}



#footer, #bar {  text-align: center; }



.usertool{ text-align: center; }







#footer .fmenu {list-style:none; width:auto; margin: 0 auto; display: inline-block;  }



#footer .fmenu li { float: none; display: inline-block;  }



#footer .fmenu li a { padding: 0px 10px;   }







.contact-info span {







    border-radius: 100px;



    display: block;



    height: 68px;



    line-height: 72px;



    margin-right: 0px; margin: 50px auto 0px auto;



    text-align: center;



    width: 68px;



}



.contact-info {



    border-bottom: 1px solid rgba(255, 255, 255, 0.2);



    height: auto;



    line-height: 118px;



    text-align: center;



}



img.alignright, img.alignleft, img.alignnone, img.aligncenter {   float: none; max-width: 100%; height: auto; }







.pricing-table.six-cols > div ,



.pricing-table.five-cols > div ,



.pricing-table.four-cols > div ,



.pricing-table.three-cols > div ,



.pricing-table.two-cols > div { width: 99%; margin: 0 auto; float: none; }



ul.features{  height: auto;  display: block; }


.column-2, .column-3, .column-4, .column-5, .column-6{
     -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}




}



/*== Up to 340px =====================================================



========================================================================*/



/* Portrait phones */



@media (max-width: 360px) {




.column-2, .column-3, .column-4, .column-5, .column-6{
     -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}


.pricing-table.six-cols > div ,



.pricing-table.five-cols > div ,



.pricing-table.four-cols > div ,



.pricing-table.three-cols > div ,



.pricing-table.two-cols > div { width: 99%; margin: 0 auto; float: none; }







ul.features{  height: auto;  display: block; }




.wp-megamenu-wrap.wpmm-mobile-menu ul.wp-megamenu li {
    width: 100% !important;
}


iframe{ width: 100%; max-height: auto; min-height: 200px; }



img.alignright, img.alignleft, img.alignnone, img.aligncenter {   float: none; max-width: 100%; height: auto; }







.ozy-motto-widget:before {   display: none; }



}







/************************************************************************************



smaller than 320px



*************************************************************************************/



@media screen and (max-width: 320px) {




 .wp-megamenu-wrap.wpmm-mobile-menu ul.wp-megamenu li {
    width: 100% !important;
}






}



