/*
Theme Name: lakeshoresf
Theme URI: https://www.lakeshoresf.com
Description: This is lakeshoresf WordPress Theme
Author: Cyber Flavors
Author URI: http://www.cyberflavors.com
Version: 1.0
*/



* {
	margin:0;
	padding:0;
}
@font-face {
 font-family: "Mistral";
    font-style: normal;
    font-weight: 400;
   src: url("Mistral.eot") format("embedded-opentype"), url("Mistral.woff") format("woff"), url("Mistral.ttf") format("truetype"), url("Mistral.svg") format("svg");
}
body {
    background: #111;
    /*background-image: url(/wp-content/themes/lakeshoresf/images/bg4.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;*/
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;  font-weight: 400;;
    line-height: 140%;
    margin: 0; padding: 0;
}
img { 	border:0;    }
.img-responsive { 	border:0;  max-width: 100%; height: auto;  }
.clear{ display: block;  clear: both; }
.clearH{ display: block;  clear: both; height: 15px; }
p {
    margin-bottom: 20px;
    margin-top: 0;
}
a, a:visited {  color: #F28228;   transition: all 0.35s ease 0s;
   text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a img {
    border:none;
}
.white{ color: #ffffff;  }
.yellow{   color: #FFCC00; }
.orange{   color: #F78C26; }
.blue{   color: #20304F; }
.green{   color: #6DA01F; }
.red, .required{   color: #F3525A; }
.orangebg{   background-color: #F78C26; color: #FFFFFF; }
.bluebg{   background-color: #20304F; color: #FFFFFF; }
.redbg{   background-color: #F3525A; color: #FFFFFF; }
.greenbg{   background-color: #6DA01F;  color: #FFFFFF;}
.uppercase{  text-transform: uppercase;  }
.capitalize{  text-transform: capitalize;  }
.floatright{  float: right;  }
.floatleft{  float: left;  }
.center{ text-align: center; }
.alignleft{ text-align: left; }
.alignright{ text-align: right; }
.justify{  text-align: justify; }
img.alignright{   float: right; margin-left: 15px;  max-width: 100%; height: auto;}
img.alignleft{   float: left; margin-right: 15px; max-width: 100%; height: auto; }
img.alignnone, img.aligncenter{   float: none; max-width: 100%; height: auto; }
.imgborder  {  border: 1px solid #E0E0E0; padding: 4px; }
.imgborder2  { box-shadow: -15px 15px 0px 0 #F3525A; padding: 0px; max-width: 99%; }
.imgborder4  {  border: 1px solid rgba(0, 0, 0, 0.7);  background: rgba(0, 0, 0, 0.5); padding: 10px; max-width: 98%;} 
.imgborder3  {  border: 2px solid #999999; padding: 4px; max-width: 99%;}
.imgborder-round  {  border: 1px solid #F0F0F0; padding: 0px; border-radius: 10px; overflow: hidden; max-width: 99%;}
.imgborder-round2  {  border: 5px solid #F0F0F0; padding: 0px; border-radius: 50px 0px 50px 0px; overflow: hidden; max-width: 99%;}
.row{ margin:  0 -15px; }
fieldset ,form{
	border:0;
	margin:0;
	padding:0;
}
h1, h2, h3, h4 { font-family: 'Poppins', sans-serif; line-height: 110%;   font-weight: 500;  }
h1{ font-size: 35px;  padding: 0px 0; margin-bottom: 15px;   }
h2{ font-size: 30px;  padding: 0px 0; margin-bottom: 15px;   }
h3{ font-size: 20px;  padding: 0px 0;   margin-bottom: 10px;   }
h4{ font-size: 18px; margin-bottom: 10px; text-transform: capitalize;   }
.mono { font-family: "Mistral";  text-transform: capitalize; font-size: 150%; line-height: 80%; }
.line {
    border-bottom: 1px solid #cdd1d0;
    display: block;
    margin: 0 0 30px;
}
.sub-line {
    border: 2px solid #F28228;
    display: block;
    margin-bottom: -1px;
    width: 50px; 
}
.titleborder {
    position: relative;  text-align: center; margin: 0 auto;
}
.titleborder .holder {
    background: #F28228 none repeat scroll 0 0;
    display: block;
    height: 2px;
    width: 50px; margin: 0 auto 15px auto;
}
.titlebg{
    background: #373737; color: #FFFFFF; margin: 0; padding: 9px 10px 9px 20px; font-size: 18px;
}
.pull-down{  margin: 0; padding: 0; line-height: 100%; }
.section-title span {
  display: inline-block;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 3px solid #DDD;
  margin-bottom: -3px; }
.section-title.title_center {
  text-align: center;
  border: 0;
  overflow: hidden; }
.section-title.title_center span {
  padding: 0 15px;
  border: 0; }
.section-title.title_center span:after, .section-title.title_center span:before {
  content: " ";
  display: block;
  height: 0px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  width: 1000px;
  position: absolute;
  top: 50%; }
.section-title.title_center span:before {
  left: -1010px; }
.section-title.title_center span:after {
  right: -1010px; }
.section-title.title_bold, .section-title.title_bold_center {
  border-width: 3px;
  margin-top: 50px;
  margin-bottom: 60px;
  height: 0; }
.section-title.title_bold span, .section-title.title_bold_center span {
  border: 3px solid #EEE;
  padding: 8px 15px;
  position: relative;
  top: -25px;
  left: 15px;
  background-color: #FFF; }
.section-title.title_bold a {
  border: 3px solid #EEE;
  padding: 5px 10px;
  position: relative;
  top: -20px;
  right: 15px;
  background-color: #FFF; }
.section-title.title_bold_center {
  text-align: center; }
.section-title.title_bold_center span {
  left: auto; }
.section-title.title_divided, .section-title.title_divided span {
  text-align: center;
  border: 0; }
.section-title.title_divided a {
  display: block;
  float: none; }
.wrapper{ clear: both; margin: 0 auto;  padding: 0px;   width: 85%; max-width: 1280px;  background: transparent;  }
.box-35{   float: left; width: 35%; display: block;}
.box-10{   float: left; width: 10%; display: block;}
.box-14{   float: left; width: 14%; display: block; }
.box-15{   float: left; width: 15%; display: block; }
.box-30{   float: left; width: 30%; display: block;}
.box-20{   float: left; width: 20%; display: block;}
.box-25{   float: left; width: 25%; display: block;}
.box-33{   float: left; width: 33.33%; display: block;}
.box-35{   float: left; width: 35%; display: block;}
.box-40{   float: left; width: 40%; display: block;}
.box-45{   float: left; width: 45%; display: block;}
.box-50{   float: left; width: 50%; display: block;}
.box-55{   float: left; width: 55%; display: block;}
.box-60{   float: left; width: 60%; display: block;}
.box-65{   float: left; width: 65%; display: block;}
.box-70{   float: left; width: 70%; display: block;}
.box-75{   float: left; width: 75%; display: block;}
.box-80{   float: left; width: 80%; display: block;}
.box-100{  clear: both; width: 100%; display: block;}
.box-paddingS{  padding: 0 15px; }
.box-paddingL{  padding-left: 15px; }
.box-paddingR{  padding-right:15px; }
.box-padding {  padding: 15px; }
.box-pad-t {  padding: 15px 0px; }
.pad20{   padding-left: 20px; }
.floatleft{   float: left; }
.floatright{   float: right;  }
#header {clear: both; display: block;   width: 100%;   margin: 0; padding: 0px 0px;   border-bottom: 0px solid rgba(255, 255, 255, 0);                                                 }
#headerImage{
  clear: both; display: block; margin: 0; padding: 0px; 
}
.home #headerImage{
  clear: both; display: block; margin: 0; padding: 20px 0px 20px 0px;
}
.user-tools{ background: #0A2337;  color: #FFFFFF; font-weight: 400;  font-size: 14px;  padding: 8px 0px; line-height: 20px; display: block; clear: both; }
.toplinks{
  padding: 0; display: inline-block; vertical-align: middle;
}
#header .socials {
    display: inline-block;
    vertical-align: middle;
}
.socials ul a, .topBar a {
    text-decoration: none;
}
.socials ul {
    list-style: outside none none;
    margin: 0;  display: inline-block;
    overflow: hidden;
}
.socials li {
    float: left;
    margin: 0px 22px 0 0;
    padding: 0;
}
.socials a {
    color: #FFFFFF;
    display: inline-block;
}
.socials li:hover .fa {
    color: #FFFFFF;
    transform: rotate(360deg);
}
.socials li:hover .fa-twitter {
    color: #51b8f2;
}
.socials li:hover .fa-google-plus {
    color: #d73d32;
}
.socials a .fa {
    transition: all 0.5s ease 0s;
}
ul.icons{  	cursor: default;   display: inline-block;  margin: 0; padding: 0;  		}
ul.icons li	{  	display: inline-block;  margin: 0; padding: 0; list-style: none;  			}
ul.icons a  { display: inline-block;  width: 24px; height: 24px;  line-height: 24px; text-align: center;  text-decoration: none; padding: 4px;  border: 1px solid rgba(0, 0, 0, 1);  background: rgba(0, 0, 0, 0.98);	 }
.icons  {  font-size: 18px;  margin: 0 0 0px 0; text-align: center;  	}
.icons a  {	color: #FFFFFF;
				-moz-transition: color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out;
				-o-transition: color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out;
			}
.icons a:hover  { 	color: #FFFFFF;  		}
ul.social-icons{  	cursor: default;   display: inline-block;  margin: 0; padding: 0px;  		}
ul.social-icons li	{  	display: inline-block;  margin: 0; padding: 0; list-style: none;  			}
ul.social-icons a  { display: inline-block;  color: #757475; font-size: 16px; width: 16px; height: 16px;  line-height: 16px; text-align: center;  text-decoration: none; padding: 4px;  border: 1px solid rgba(208, 208, 208, 0.5);	 }
ul.social-icons a:hover  { color: rgba(187, 122, 64, 1);}
.social {
    margin: 0px;  display: inline-block;
}
.social li {
    display: block; float: left;
    list-style: outside none none;
    margin: 0px 1px 1px 0px;
}
.social li a {
    color: #FFFFFF;
    border: none;
    background: rgba(0, 0, 0, 1);
    display: block;  border-radius: 100px;
    font-size: 0;
    height: 40px;
    line-height: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 40px;
}
.social li a.fa {
    position: relative;
}
.social li a.fa:before {
    color: #FFFFFF;
    font: 24px/40px FontAwesome;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
}
.social li a:hover {
 background: rgba(57, 125, 186, 1);  color: #FFFFFF;  transform: rotate(360deg);
}
#social-float{
  position: fixed; left: 0; top: 35%; z-index: 9999;
}
#social-float .social {
    margin: 0px;  display: block;
}
#social-float .social li {
    display: block; float: none;
    list-style: outside none none;
    margin: 0px 0px 1px 0px;
}
a.callback{
    display: inline-block; background: #0A0000;
    color: #ffffff;  font-size: 14px; font-weight: 700;
    padding: 10px 20px; border-radius: 100px;  margin-top: 24px;
     transition: all 0.5s ease 0s;
    }
.callback .fa { transition: all 0.5s ease 0s; }
a.callback:hover{ background: #CB2A2A; }
a.callback:hover .fa{ display: inline-block; }
.logo{  float: left;  display: block; width: 25%; max-width: 400px;   margin: 0px; padding: 0px 0px 0px 0px; transition: all 0.4s ease 0s;    font-family: 'Poppins', sans-serif;   }
.head-col {
    float: right; color: rgba(255, 255, 255, 0.8); width: 75%;
    margin: 0;  padding: 0px;  position: relative;  text-align: right;
}
.line_2{
    border-left: 1px solid rgba(255, 255, 255, 0.2); padding-left: 30px;
}
.nav.sticky {  background: rgba(255, 255, 255, 1);  box-shadow: 0px 0px 10px #000000;}
.nav.sticky .logo{   }
.nav {
}
.sticky {
    border-top: 0 none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#topmenu { background: #FFFFFF;   margin: 0; display: block;  padding: 0px;  font-family: 'Poppins', sans-serif;}
.moduletable_dropdown{  }
#topmenu ul.menu{
 list-style: none;
 clear: both;  text-align: left;
margin: 0 auto 0 auto;
width: 100%;
display: table;
padding: 0;
}
#topmenu ul.menu ul {
    display: none;
}
#topmenu ul.menu li:hover > ul {
    display: block;  transition: all 0.4s ease 0s;
}
#topmenu ul.menu {
    list-style: none;
    position: relative;
}
#topmenu ul.menu:after {
    clear: both;
    content: "";
    display: block;
}
#topmenu ul.menu li {
  text-align:center;display:table-cell; list-style: none;
}
#topmenu ul.menu li:hover {
     left: auto;
}
#topmenu ul.menu li:hover a {
}
#topmenu ul.menu li a {
    line-height: 50px; padding: 0px 20px;
    color:#F78C26;  margin: 5px;  text-align: center;
	font-weight:500;  text-transform:  uppercase;   transition: all 0.3s ease 0s;  border: 2px solid #F78C26;
	text-decoration:none; font-size: 16px; display: block;  vertical-align: middle;
}
.nav.sticky #topmenu ul.menu li a {    }

#topmenu ul.menu ul {
   width: 200px;
    position: absolute;
    top: 100%;  z-index: 999;
     border: none; padding: 0px 8px 5px 8px;
 -moz-box-sizing: content-box;
    background: rgba(0, 0, 0, 1); border-radius: 5px; text-align: center;
    transition: all 0.4s ease 0s;
}
#topmenu ul.menu ul li {  border: none;
 border-bottom: 1px solid rgba(255, 255, 255, 0.1);   display: block;
    float: none;
    position: relative;
}
#topmenu ul.menu ul li a {
    background:   transparent;
    height: auto;  border: none;
    color: #ffffff;  text-shadow: none; text-transform: capitalize;
    display: block;  font-weight: 300;
    font-size: 14px;  text-align: center;
    line-height: 110%;  position: relative;
    padding: 6px 10px;  z-index: 9999;
}
.nav.sticky #topmenu ul.menu li ul li a{   }
#topmenu ul.menu li.current-menu-item a, #topmenu ul.menu li a:hover {
color: #F28228;
}
#topmenu ul.menu li.current-menu-item ul li a,
#topmenu ul.menu li.current-menu-parent ul li.current-menu-item a {
 color: #FFFFFF;
}
#topmenu ul.menu ul li a:hover, #topmenu ul.menu ul.sub-menu li.menu-item a:hover {
   border-bottom: none;  color: #F28228;
}
#topmenu ul.menu ul ul {
    left: 100%;
    position: absolute;
    top: 0;   z-index: 999999;
    border: none; padding: 0px 8px 5px 8px;
 -moz-box-sizing: content-box;
    background: rgba(246, 132, 39, 0.8);
    border-top: none;
    box-shadow: none;
}
#topmenu ul.menu ul li ul::before {
  font-family: 'FontAwesome';
  content: '\f0d9';
  position: absolute;
  top: 5px;
  left: -10px;
  width: 9px;
  height: auto;
  color: #F68229;
}
#topmenu ul.menu ul ul li{
padding: 0;
border-bottom: 1px solid rgba(181, 186, 192, 0.2);
}
#topmenu ul.menu ul ul li a{
 display: block;
 padding: 0px 8px;
 line-height: 28px;
}
#topmenu ul.menu li.current-menu-item ul li a, #topmenu ul.menu li ul li.current-menu-item a{   background: none;   }
#topmenu ul.menu ul li a:hover { background: none;  }
.column-2  {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
.column-3  {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
.column-4  {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}
.column-5  {
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}
.column-6  {
    -webkit-column-count: 6; /* Chrome, Safari, Opera */
    -moz-column-count: 6; /* Firefox */
    column-count: 6;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}
.x-dropcap {
    background-color: #ff2a13;
    border-radius: 4px;
    color: #fff;
    display: block;
    float: left;
    font-size: 3.3em;
    font-weight: bold;
    line-height: 1;
    margin: 0.175em 0.215em 0 0;
    padding: 0.105em 0.2em 0.135em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
}
.greybox{
    background: #333333; color: #ffffff; padding: 50px;
}
#services{
 display: block; width: 100%;   margin: 0px;  padding: 50px 0px;  background: #F0F0F0; text-align: center;
}
#service-area .location{ position: relative;    margin-top: -200px; z-index: 99;   overflow: hidden;   }
#service-area p{ margin-bottom: 0; }
.servicebox-1 {
    display: block;
    padding: 20px 30px;
    background: #333333;  min-height: 115px;
    color: #FFFFFF;  font-size: 13px;
}
.servicebox-2 {
    display: block;
    padding: 20px 30px;
    background: #F68328;  font-size: 13px;
    color: #FFFFFF; min-height: 115px;
}
a.fancybox-buttons:hover::before {
    background-color: rgba(0, 0, 0, 0.46);
}
a.fancybox-buttons::after {
    border: 2px solid #fff;
    bottom: 14%;
    content: "";
    left: 10%;
    opacity: 0;
    position: absolute;
    right: 10%;
    top: 14%;
    transform: scale(0);
    transition: all 0.35s ease 0s;
    z-index: 1;
}
a.fancybox-buttons:hover::after {
    opacity: 1;
    transform: scale(1);
}
a.fancybox-buttons .caption {
    bottom: auto;
    left: 50%;
    padding: 5px 20px;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 70%;
}
a.fancybox-buttons .caption {
    display: block;
    opacity: 0;
    padding: 5px;
    position: absolute;
    transition: all 0.35s ease 0s;
    width: 100%;
    z-index: 99;
}
a.fancybox-buttons .caption p {
    color: #ffffff;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.4;
}
a.fancybox-buttons:hover .caption {
    bottom: auto;
    left: 50%;
    padding: 5px 20px;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 70%;
}
a.fancybox-buttons:hover .caption {
    opacity: 1;
    transition: all 0.35s ease 0s;
}
.grid_fancybox h1 {
    color: #1b2f6a;
    padding: 12px;
}
a.fancybox-buttons {
    border: 1px solid #FFFFFF;
    float: left;
    margin: 0px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
a.fancybox-buttons img {
    transition: all 0.5s ease 0s;
    width: 100%;
}
a.fancybox-buttons:hover img {
    transform: scale(1.2);
    transition: all 0.5s ease 0s;
}
a.fancybox-buttons::before {
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
}
.fancybox-title {
    display: none;
}
.fancybox-skin {
    padding: 10px;
}
.fancybox-lock .fancybox-overlay {
    overflow-y: hidden;
}
.caption_html{
  color: #ffffff;
    padding: 10px 0px; margin: 0;  width: 100%; text-align: center;
}
.caption_html p{ padding: 0; margin: 0; }
.servicebox{
}
.aboutbox .media-wrapper {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 5px;
}
.aboutbox .media-wrap {
    position: relative;
    height: auto;
    background-size: cover;
    min-height: 200px;
    background-position: center center;
     display: block;
    padding: 10px;
}
.service-body {
    width: 90%;
    max-width: 100%;
    position: relative;
    opacity: .999;
    z-index: 2;
    margin: -65px auto auto auto;
    padding: 25px 5%;
    background-color: #fff;
    text-align: center;
    min-height: 170px;
    overflow: hidden;
}
.service-body p {
    margin-top: 10px;
    margin-bottom: 0;
}
.service-body h3 {
    text-transform: none;
    line-height: 30px;
    font-size: 16px;
}
.service-body h3 a{
    color: #000;
}
.service-body h3 a {
    font-weight: 500 !important;
    font-size: 18px;
}
a.btn.service-read {
    position: absolute;
    top: 24%;
    left: 30%;
    opacity: 0;
}
.service-wrap:hover .service-read {
    opacity: 1;
}
#welcome{
 display: block; width: 100%;   margin: 0px;  padding: 50px 0px 50px 0px;
}
#about {
 display: block; width: 100%;   margin: 0px; padding: 40px 0px;
 background-color: #F3F3F3 ;
 background-image: url("bg-02.jpg");  background-position: right bottom;
 background-size: 100%; background-repeat: no-repeat;
}
.video-review-quote {
  position: relative;
  padding-top: 16px;
  color: #151515;
   letter-spacing: .05em;
line-height: 1.5;
font-style: italic;
font-weight: 300;
max-width: 353px;
padding-left: 80px;
margin-top: 20px;
margin-bottom: 50px;
}
.video-review-quote:before {
  content: '';
  background-image: url("press-quote.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 52px 46px;
  top: 5px;
  height: 46px;
  width: 52px;
  left: 20px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.video-review-quote .link-primary {
  margin-top: 5px;
}
#counter {
 display: block; width: 100%;   margin: 0px; padding: 40px 0px;
 background-color: #333333 ; color: #ffffff; text-transform: uppercase;
 background-image: url("parallax-1.jpg");
 background-size: 100%;  text-shadow: 1px -1px 5px #000;
 background-attachment: fixed; background-position: center;
}
  .box-counter-wrap-element + .box-counter-wrap-element {
    position: relative;
  }
  .box-counter-wrap-element + .box-counter-wrap-element:before {
    content: '';
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #ec3642;
  }
.box-counter .counter {
    font-size: 65px; line-height: 120%; font-weight: 600;  letter-spacing: 0.05em;
}
.box-counter-title {
    font-size: 16px;  font-weight: 500;
}
.divider-thick-border {
    margin: 25px auto 25px auto;
    width: 20%;
    border-bottom: 1px solid #D0D0D0;
}
/***************** Pricing Tables ******************/
#pricing-pack{
    display: block; padding: 60px 0;
}
.pricing-table {
 font-size: 13px; padding: 50px 0px;
}
.pricing-table:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
	border-left: 1px solid #e4e4e4!important;
}
.pricing-column {
	float: left;
	overflow: hidden;
	text-align: left;
	padding: 0px;
	background-color: #fff;
	transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-webkit-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
}
.pricing-column .pricing-column-content {
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 16px 0px 20px 0px;
}
.pricing-column.highlight {
	position: relative;
	z-index: 99;
	margin: -20px -1px 0px -1px;
	background-color: #FFF;
	box-shadow: 0px 0px 13px rgba(0,0,0,.09);
	-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
	-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
	-o-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
}
.pricing-column.highlight .nectar-button {
	margin: 10px 0px 20px 0px;
}
.pricing-column.highlight .pricing-column-content, .pricing-column.highlight h3  {
	border: none;
}
.pricing-column.highlight h3 .highlight-reason {
	display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000000;
}
.pricing-column.highlight .pricing-column-content {
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.pricing-column.highlight:hover {
	box-shadow: 0px 0px 13px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
	-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
	-o-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
}
.pricing-column ul li {
	padding: 15px 25px;
	list-style: none;
	line-height: 18px;
	border-bottom: 1px solid #efefef;
}
.pricing-column ul li:first-child {
	border-top: 1px solid #efefef;
}
.pricing-column ul li:nth-child(2n+1) {
	background-color: #fbfbfb;
}
.pricing-column.highlight h3 {
	color: #fff!important;
	background-color:#F78C26;
	padding: 15px 20px 15px 25px;
}
.pricing-column h3 {
	background-color: #fff;
	color: #000000;
	margin-bottom: 0px;
	font-size: 26px;   text-align: center;
	line-height: 28px;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #EFEFEF;
	border-top: 1px solid #e4e4e4;
	padding: 18px 20px 18px 25px;
}
.pricing-column h4 {
    text-align: center;
	padding: 15px 20px 6px 20px;
	font-size: 54px;
	line-height: 42px;
	color: #333;
	margin-bottom: 0px;
}
.pricing-column h4 .dollar-sign {
	font-size: 22px;
	line-height: 22px;
	top: -14px;
	right: -6px;
	position: relative;
}
.pricing-column .interval {
	display: block;
	color: #999;
 	display: block;
	padding-bottom: 17px;
}
.pricing-column ul {
	margin-left: 0px; margin-bottom: 15px;
}
.pricing-column ul li i{
	 float: right; clear: right;  font-weight: 300;
}
ul.features{
   height: 270px;  display: block;
}
.pricing-table.six-cols > div { width: 16.5%; }
.pricing-table.five-cols > div { width: 20%; }
.pricing-table.four-cols > div { width: 25%; }
.pricing-table.three-cols > div { width: 33.2%; }
.pricing-table.two-cols > div { width: 50%; }
.pricing-table .col {
	padding: 0px 20px;
}
.nectar-button  {
    background-color: #F28228;
    border-radius: 3px 3px 3px 3px;
    padding: 10px 15px;  display: inline-block;
    font-size: 12px;
    letter-spacing: 1.3px;
    color: #FFFFFF !important;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
}
.nectar-button:hover  {
    background-color: #333333;
    }
a.more{
    display: inline-block; background: #20304F; padding: 6px 12px;
    font-size: 12px; color: #ffffff; text-transform: uppercase;
    cursor: pointer; border: 1px solid transparent;
}
a.more:hover{  background: #6DA01F; }
.archive-thumb img, .effect-thumb img {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
}
.archive-thumb .share-mask, .effect-thumb .share-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in 0.4s;
  transition: all 0.3s ease-in 0.4s;
  opacity: 0;
  background: rgba(15, 15, 15, 0.5);
  -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
}
.archive-thumb .share-wrap, .effect-thumb .share-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.archive-thumb .share-content, .effect-thumb .share-share-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.share-content span {
  display: inline-block;
  padding: 1.5em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
.share-content h2,
.share-content h4 {
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  padding: 10px 20px 10px;
  margin: 10px 0 10px;
  font-size: 16px;
  font-weight: normal;
  border-radius: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.share-content h2:hover, .share-content h2:focus,
.share-content h4:hover, .share-content h4:focus {
  border-color: rgba(0, 165, 201, 0.9);
}
.share-content span:hover,
.share-content span:focus {
  color: rgba(203, 42, 42, 0.8);
  background: rgba(255, 255, 255, 0.4);
}
.archive-thumb:hover .share-mask, .effect-thumb:hover .share-mask {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 1;
  -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=100)';
  filter: alpha(opacity=100);
}
.archive-thumb:hover img, .effect-thumb:hover img {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.effect-thumb .share-content {
  display: table-cell;
  vertical-align: middle;
}
#blog {
  padding: 4.5em 2em 4em;
  background: #f1f1f1;
  background-size: cover;
}
.blog-content {
    border-radius: 5px;
    background-color: #fff;
    margin: 1rem 0;
    text-align: left;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.03);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.blog-content:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.blog-content .archive-thumb > a.no-image-fall {
  min-width: 100%;
  min-height: 226px;
}
.blog-content:hover {
  position: relative;
}
.blog-content-wrap {
    padding: 0 2em 2em;
    margin-top: -10px;
}
.blog-content-image .share-mask {
  max-height: 232px;
}
.blog-content-wrap .blog-contents {
  margin-bottom: 1rem;
}
.blog-content-image {
  overflow: hidden;
  max-height: 226px;
  position: relative;
}
.blog-content-image .entry-content .featured-item {
  display: none;
}
.blog-content-image iframe {
  height: 192px;
}
.blog-content-head {
    padding: 1.5em 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fafafa;
    padding-bottom: 16px;
}
.blog-content-head h4 {
    font-size: 20px;
    margin-bottom: 0px;
    text-transform: none;
    line-height: 26px;
}
.entry-meta .date, .entry-meta .author {
    display: inline-block;
    color: #666;
    font-family: Poppins;
    font-size: 13px;
}
.blog-content .entry-meta {
    border-top: 1px solid #eee;
    padding: 1em 2em;
    padding-top: 0;
}
.blog-content-head h4 a {
  color: #444;
}
.blog-content .featured-image {
    margin: 0;
}
.author-img img.avatar {
    display: block;
    width: 30px;
    height: 30px;
    top: 9px;
    position: relative;
    left: 5px;
}
.author-img {
    z-index: 99;
    display: inline-block;
}
.blog-content p {
    color: #888;
    margin-bottom: 0;
}
.entry-meta .author {
    color: #333;
    margin-left: 7px;
}
.entry-meta .author a{
    color: #333;
}
.entry-meta .date i {
    font-size: 15px;
    margin-right: 6px;
}
#reviews{
    text-align: center; padding: 60px 0px;
}
.wrap{ width: 80%; margin: 0 auto; }
.box-2{
  box-shadow:  0px 0px 100px rgba(0, 0, 0, 0.2) inset;
}
.box-3{
  box-shadow:  0px 0px 100px rgba(0, 0, 0, 0.4) inset;
}
.box-4{
  box-shadow:  0px 0px 100px rgba(0, 0, 0, 0.8) inset;
}
.itembox-content {
    padding: 10% 14%;
}
.service-box  {
 display: block; clear: both;
}
.service-box:hover .icon {
    transform: rotateY(360deg);
    transition: all 0.4s ease 0s;
    max-width: 100%; background: #F28228;
}
.service-box .icon {
width: 70px;
height: 50px;
border-radius: 100%;
background-color: #919293;
color: #a1a1a1;
border: 4px solid #ffffff;
float: left;  padding: 10px 0px 10px 0px;
text-align: center;
box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
margin: 0px 20px 0px 0px;
}
.service-box .icon img {
    font-size: 40px;
    line-height: 70px;
    display: block;  width: 50px; margin: 0 auto;
    transition: all 0.8s ease 0s;
}
.service-box .icon a:focus {
     transition: all 0.4s ease 0s;
}
.service-box .icon a:focus img {
    transition: all 0.4s ease 0s;
}
.service-box .icon a:hover {
     transition: all 0.4s ease 0s;
}
.service-box .icon a:hover img {
    transform: rotateY(360deg);
    transition: all 0.4s ease 0s;
}
.service-box .icon a img {
    transition: all 0.8s ease 0s;
}
.service-box_txt{
    padding: 5px 0px 25px 0px;  margin-bottom: 25px;
    box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
overflow: hidden;  }
.service-box h3 a{
    color: #F28228;
    font-size: 17px;
    font-weight: 500 !important;
    line-height: 20px;
    margin: 0 0 15px;
    padding: 0;
    text-transform: uppercase;
}
.service-box .img_box {
    float: left;
    margin: 1px 24px 5px 0;
    padding: 0;
}
a.viewmore {
    backface-visibility: hidden;
    border-bottom: 2px solid #D64937;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: #D64937;
    display: inline-block;
     font-size: 18px;
    letter-spacing: 1px;
    line-height: normal;
    margin: 15px 0;
    padding:  10px 16px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
}
a.viewmore::before {
    background: #D64937 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 100% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
a.viewmore:hover, a.viewmore:focus, a.viewmore:active {
    color: white;
}
a.viewmore:hover::before, a.viewmore:focus::before, a.viewmore:active::before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
a.readmore {
    backface-visibility: hidden;
    border: 2px solid #F28228;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: #F28228;
    display: inline-block;
     font-size: 14px; font-weight: 700;
    letter-spacing: 1px;
    line-height: normal;
    margin: 15px 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
}
a.readmore::before {
    background: #F28228 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 100% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
a.readmore:hover, a.readmore:focus, a.readmore:active {
    color: white;
}
a.readmore:hover::before, a.readmore:focus::before, a.readmore:active::before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
a.more-button {
    backface-visibility: hidden;
    background: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: #000000;
    display: inline-block;
    font-size: 16px; font-weight: 500;
    margin: 0; border-radius: 5px;
    padding: 15px 24px;
    position: relative;
    text-transform: uppercase;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
}
a.more-button::before {
    background: #F28228 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 100% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
a.more-button:hover, a.more-button:focus, a.more-button:active {
    color: #ffffff;
}
a.more-button:hover::before, a.more-button:focus::before, a.more-button:active::before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.submit-button {
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 2px solid #118bcb !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: #118bcb;
    cursor: pointer;
    display: inline-block;
    font-size: 18px !important;
    letter-spacing: 2px;
    line-height: 22px;
    margin: 15px 0;
    padding: 6px 35px !important;
    position: relative;
    text-transform: uppercase;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
}
.submit-button::before {
    background: #2098d1 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 100% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
.submit-button:hover, .submit-button:focus, .submit-button:active {
    color: white !important;
}
.submit-button:hover::before, .submit-button:focus::before, .submit-button:active::before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.play-button {
    background: rgba(0, 0, 0, 0) url("urn:scrapbook:download:error:https://www.lakeshoresf.com/wp-content/themes/lakeshoresf/images/play-round.png") no-repeat scroll left top;
    bottom: 33px;
    display: block;
    height: 77px;
    left: 27px;
    padding: 7px;
    position: absolute;
}
.play-button span {
    color: #fff;
    font-family: "Cabin",sans-serif;
    font-size: 25px;
    font-style: italic;
    margin-left: 20px;
    margin-top: 8px;
}
.play-bttn-play {
    display: inline-block;
    height: 56px;
    position: relative;
    transition-duration: 1s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    width: 56px;
}
.play-bttn-play:hover {
    transform: rotate(360deg);
}
a.btn-primary{
  background: #F3525A;
  padding: 10px 28px;
  letter-spacing: 1px;
  line-height: 55px;
  border: 2px solid transparent;
  color: #fff; font-size: 18px;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.icon-download {
 display: inline-block; float: left;    margin-right: 14.9px;
}
a.btn-primary:hover { background: #FFCC00; }
.item_img {
    font-size: 0;
    line-height: 0;
    position: relative;  margin-bottom: 20px;
}
.item_img a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.item_img a img {
    opacity: 0.99;
    transform: scale(1);
    transition: all 0.5s linear 0s;
}
.item_img a:hover {
}
.item_img a:hover img, .item_img a:hover .BWfade {
    opacity: 1 !important;
    transform: scale(1.1) !important;
}
.inline { display: inline-block;  }
#featured {   width: 100%; display: block; clear: both;  padding: 50px 0px; }
.featuredbox{
background: #FFFFFF;  border: 1px solid #E0E0E0;
-webkit-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);
transition: all 0.35s ease 0s;  padding: 8px;  }
.featuredbox:hover{ background: #333333;  border: 1px solid transparent;   color: #FFFFFF; }
.content-padding{ display: block; padding: 20px;}
.featuredbox h3{ font-size: 16px; margin: 10px 0px 0px 0px; display: block;}
a.view-more{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);  font-family: 'Roboto Condensed', sans-serif;
    display: inline-block; font-size: 16px;
    padding: 10px 20px;  text-transform: uppercase;
    text-decoration: none; border: 1px solid rgba(255, 255, 255, 0.7);
}
a.view-more:hover {  background: rgba(255, 255, 255, 0.7);  color: rgba(46, 112, 187, 1);   }
.img-wrap{
  float: left; margin: 0 15px 0px 0px; width: 70px; text-align: center;
}
.item-wrap{  overflow: hidden;}
ol{    margin: 0 0 0 20px; padding: 0;   }
ol li{    margin: 0; padding: 0 0 20px 0;   }
.content-padding{ padding: 0 20px;}
.img-con{  display: block; padding: 10px; clear: both;  }
.text-con{  display: block; padding: 10px; clear: both;  }
.extra-wrap {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 40px;
    color: #CC0000;
}
#testimonials {
  padding: 50px 0px;
  background-color: #fff;
}
.testimonial_portrait img{ float: right; position: relative;  width: 116px; margin: -50px 0px 0px 0px;  border-radius: 1000px; overflow: hidden; z-index: 99; }
blockquote {
    background: #F0F1F2;
    display: block;  min-height: 130px;
    margin: 20px 0px;
    padding: 25px 20px 10px 20px;
    position: relative;
}
blockquote::before {
  font-family: FontAwesome;
  content: "\f10d";
  color: #C21501; font-size: 30px;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-right: 12px;
}
.client-name{  margin-top: 15px; margin-right: 15px; font-size: 16px;  font-weight: 700;  text-align:  right; display: block; text-transform: capitalize; }
#mainBody { clear: both; margin: 0px 0 15px 0; padding: 15px; background: #FFFFFF; }
#mainContent { clear: both; margin: 0px 0px;  padding: 40px 0px; background: rgba(0, 0, 0, 0.6);
 }
#bottom-box{
  background: url("urn:scrapbook:download:error:https://www.lakeshoresf.com/wp-content/themes/lakeshoresf/images/bg-conte.png") repeat-x;
  display: block;
  clear: both; padding: 60px 0;
}
#leftContent {
    float: left;
    width: 70%;
    padding: 55px 0px 60px 0px;
    margin: 0px;
   }
#rightContent {
    float: right;
    width: 27%;
    padding: 55px 0px 60px 0px;
    margin: 0px;
   }
#mainbottom {
    background-image: url("urn:scrapbook:download:error:https://www.lakeshoresf.com/wp-content/themes/lakeshoresf/images/addiction.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%; background-attachment: fixed;
    padding-bottom: 54px; color: #ffffff;
    padding: 100px 0;  text-align: center;
}
#mainbottom .item_content > i.fa {
    border: 4px solid #ffffff;
    color: #ffffff;
    border-radius: 1000px;
   text-align: center;
    display: inline-block;
    font-size: 24px;
    line-height: 89px;
    margin-bottom: 45px;
    width: 89px;
}
h4 .item_title_part0 {
    color: #FFFFFF;
    display: block;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 10px;
    line-height: 46px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
h4 .item_title_part1 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 26px;
}
.roundimage {
 display: block; clear: both; width: 280px; margin: 10px auto;
 border: 8px solid rgba(240, 240, 240, 1);   border-radius: 1000px;
 overflow: hidden; transition: all 0.35s ease 0s;
}
.roundimage:hover {
 border: 8px solid rgba(208, 208, 208, 1);   overflow: hidden;
}
.roundimage img {
   max-width: 100% ;
}
.contentpadding{
    padding: 20px;
}
.shade{
    background:#F0F0F0 url("urn:scrapbook:download:error:https://www.lakeshoresf.com/wp-content/themes/lakeshoresf/images/right_column_shadow.png") repeat-y;
}
ul.rightnav{
    display: block; clear: both; background: #fff;
    margin: 0; padding: 0;
}
ul.rightnav li{
    display: block; margin: 0; padding: 10px 15px 10px 20px;
    transition: all 0.35s ease 0s;
}
ul.rightnav li:hover{  padding: 10px 15px 10px 26px;
}
ul.rightnav li + li{
 border-top: 1px solid #E0DFDF;
}
ul.rightnav li a{
    color: #000; font-weight: 400; font-size: 14px;
    display: block; margin: 0; padding: 0;
    -webkit-transition: all 200ms ease-in !important;
-moz-transition: all 200ms ease-in !important;
-o-transition: all 200ms ease-in !important;
transition: all 200ms ease-in !important;
}
ul.rightnav ul li + li{
 border: none;
}
ul.rightnav ul li{
    display: block; margin: 0; padding: 0px 15px;
}
ul.rightnav li a:hover{ color: #CC0000;  }
.banner-add{
  display: block; clear: both; margin: 10px 0; padding: 0px;
}
.sidebar-box{
    display: block; margin-bottom: 20px;
}
.large{  padding: 0px;  display: block; clear: both; font-size: 110%; line-height: 150%;    }
.content-padding{ padding: 0 20px;}
.datetime, .comments{ float: left; margin-right: 15px; border: medium none;   font: 12px/21px 'Open Sans',sans-serif; color: #707070;     margin-bottom: 4px;     padding: 0;      text-transform: none;}
.hr {
    background: none repeat scroll 0 0 #502C61;
    height: 4px;
    margin: 0 0 10px;
}
.blognews { display: block; padding:0 0px; 	margin:10px 0 20px 0;  }
.newspost { display: block;	padding:0 0px;}
.post-row { clear:both; margin: 0 10px 10px 0; padding: 0 0 10px 0px; display: table; width: 95%;   border-bottom: 1px dotted #CDD2E0;}
.newspost img {
  float: left; margin: 0 10px 0 0; border: 1px solid #CDD2E0; padding: 3px;
}
.newspost a {  text-decoration: none; color: #16438D; font-size: 14px; display: block; text-transform: capitalize; padding-bottom: 10px;  }
.newspost .meta { padding-top: 6px; }
.datetime, .comments{ font-size: 11px;  }
.footer-top{
    background: #0164C6;
}
.contact-info {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 118px;
    line-height: 118px;
    text-align: center;
}
.contact-info a {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}
.contact-info p {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}
.contact-info span {
    background:  transparent;
    border: 2px solid #fff;
    border-radius: 68px;
    display: inline-block;
    height: 68px;
    line-height: 72px;
    margin-right: 15px;
    text-align: center;
    transform: scale(1);
    width: 68px;
}
.contact-info span i {
    color: #fff;
    font-size: 30px; line-height: 68px;
}
.contact-info p {
    display: inline-block;
}
.contact-info a:hover {
    color: #EEEDDD;
    text-decoration: none;
}
.contact-info:hover span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #0776BC;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    transform: scale(1.3);
    transition: all 0.5s ease-out 0s;
}
.contact-info:hover span i {
    color: #0776BC;
    transition: all 0.5s ease-out 0s;
}
#footer{
   line-height: 22px;  font-size: 13px;
    margin: 0px 0px;
     padding: 40px 0px;
    position: relative;
}
ul.fmenu li {  list-style: none;	display:inline-block; 	padding: 0px 0px 0px 25px; text-transform: uppercase;}
ul.fmenu li a {  color: rgba(255, 255, 255, 0.5);   display:block; font-weight: 400;	text-decoration:none;}
ul.fmenu li a:hover { color: #FFFFFF;}
.ozy-motto-widget {
	padding-left:45px;
    margin-top: 10px;
}
.ozy-motto-widget br {
	margin-bottom:0 !important;
}
.ozy-motto-widget h4 {
	font-size:30px !important;
	font-weight:900 !important;
	line-height:1em !important;
	font-style:italic;
}
.ozy-motto-widget:before {
	position:absolute;
	left:30px;
	content:'';
	width:15px;
	height:calc(100% - 115px);
	background-color:currentColor;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
}
/* generics */
.widget br{
	content: ' ';
	display:block;
	margin-bottom:.5em;
}
.widget img{
	max-width:100%;
	height:inherit;
}
.widget select {width: 100%;max-width:100%;}
.widget>ul>li>a.rsswidget{
		display:inline-block;
		width:100%;
		font-weight:700;
}
.list-work-times {
    list-style: outside none none;
    margin: 0;
}
.list-work-times li + li {
    border-top: 1px solid rgba(51, 51, 51, 0.2);
}
.list-work-times a {
    font-weight: 400; display: block; padding: 10px 5px;
    margin-bottom: 0;
    overflow: hidden;
}
.list-work-times a span {
    color: #333333; font-weight: 700;
}
.list-work-times a span + span {
    color: #D64937; float: right; width:65%;
    font-size: 14px; font-weight: 500;
    margin-top: 0px;
}
#footer h3{font-size: 21px; color: 000;  font-weight: 500; text-transform: uppercase; margin-bottom: 20px; }
#footer ul.menu li {  list-style: none;	display:block;	padding: 0px 0px;}
#footer ul.menu li a {  color: rgba(255, 255, 255, 0.7);   display:block; font-weight: 400;	text-decoration:none; text-transform: capitalize;}
#footer ul.menu li a:hover { color: #F28228;}
ul.fmenu li {  list-style: none;	display:inline-block; 	padding: 0px 0px 0px 15px;}
ul.fmenu li a {  color: rgba(255, 255, 255, 0.5);   display:block; font-weight: 400;	text-decoration:none;}
ul.fmenu li a:hover { color: #FFFFFF;}
/* Calendar widget */
#calendar_wrap {
  overflow-y: hidden;
  overflow-x: auto;
}
#wp-calendar {
  width: 100%;
  font-size: 16px;
  margin-bottom: 7px;
}
#wp-calendar caption {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 12px;
}
#wp-calendar thead tr th {
  padding: 4px;
  text-align: center;
  border: 1px solid #e2e2e2;
  font-size: 300;
}
#wp-calendar tbody tr td {
  padding: 4px;
  text-align: center;
  border: 1px solid #e2e2e2;
}
#wp-calendar tfoot #prev,
#wp-calendar tfoot #next {
  padding: 10px 0 0;
  text-align: left;
  text-transform: uppercase;
}
#wp-calendar tfoot #prev a,
#wp-calendar tfoot #next a {
  background: #63c6db;
  background-color: rgba(0, 165, 201, 0.6);
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#wp-calendar tfoot #prev a:hover, #wp-calendar tfoot #prev a:focus,
#wp-calendar tfoot #next a:hover, #wp-calendar tfoot #next a:focus {
  background: #49b1c7;
  background-color: rgba(0, 165, 201, 0.9);
}
#wp-calendar tfoot #next {
  text-align: right;
}
#bar{  display: block;
background: #222222; text-align: center;  color: rgba(255, 255, 255, 1);
padding: 15px 0px;
}
#bar a{ text-decoration: blink; color: #FFCC00;}
.side-bdr{
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.testimonials .image {
    position: relative; display: block; float: left;  border-radius: 1000px; overflow: hidden; margin-right: 20px;
}
.searchbox{
  display: block; margin-top: 15px;
}
#search-form {
    clear: both;
    display: block;
}
#search-form input.inputsearch {
    background:#FFFFFF;
    border: 1px solid #DCDCDC;  border-right: 0px;
    color: #666666;  letter-spacing: 2px;
    float: left;  font-size: 16px;  font-weight: 500;
    height: 50px; line-height: 50px;
    margin: 0px; text-indent: 10px;
    padding: 0px; border-radius: 4px 0px 0px 4px; overflow: hidden;
    text-transform: capitalize;
    width: 79%;
}
#search-form input.search_btn {
    background: #015BAA url("icon-search.png") center center no-repeat;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    float: left;  text-indent: -999999px;
    font-size: 1px;
    font-weight: bold;
    height: 52px;
    margin: 0;
    padding: 0;border-radius: 0px 4px 4px 0px; overflow: hidden;
    text-transform: uppercase;
    width: 20%;
}
#search-form input.search_btn:hover {
       background: #000000 url("icon-search.png") center center no-repeat;
}
#hotoffers{
 background: #F55014; color: #ffffff; padding: 50px 0px;
}
#newsletter-box .input-text  {
background-color:  transparent;
border: none;
    border-bottom: 2px solid #E0E0E0;
   color: rgba(255, 255, 255, 0.7);
    float: left;
    font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 700;
    height: 50px; text-indent: 10px;
    margin: 0px 0 0 0px;
    padding: 5px 0px;
    width: 68%;
}
.input-submit {
    background-color: transparent;
    border: 2px solid #ffffff;
     color: rgba(255, 255, 255, 0.7);
    float: left; font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 2%;  height: 62px;
    padding: 8px 0px; width: 30%;
    text-transform: uppercase;
}
.input-submit:hover {
    color: #FFFFFF;
    cursor: pointer;
    background: #000000;
}
.inputbox {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    color: #999999;
    float: none;  font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0;
    padding: 5px 0;
    text-indent: 10px;
    width: 100%;
}
.textarea {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    color: #999999;
    float: none;  font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0;
    min-height: 80px;
    padding: 5px 0;
    text-indent: 10px;
    width: 100%;
}
 label{   color: #333333;  }
.contact-form{
  clear: both; display: block; padding: 10px 0;
}
.btn-submit {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #F78C26 none repeat scroll 0 0;
    border-color: #F78C26 #F68229 #F37904;
    border-image: none;
    border-style: solid;
    border-width: 0px 0px 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin: 5px 0;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.btn-submit:hover{
  background-color: #666666;
}
.pretext {
    padding-bottom: 13px;
}
ul.service-list {
    margin: 0;
    padding: 0;
}
ul.service-list li {
    list-style: outside none none;
    margin: 0 0 15px;
    padding: 0;
}
ul.service-list li a {
    color: #f37904;
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul.service-list li a span {
    color: #f37904;
    font-size: 20px;
    font-style: italic;
    margin: 0 15px 0 0;
    padding: 0;
    text-decoration: none;
}
ul.service-list li a:hover {
    background: rgba(0, 0, 0, 0) url("urn:scrapbook:download:error:https://www.lakeshoresf.com/wp-content/themes/lakeshoresf/images/orange-line.jpg") no-repeat scroll left center;
    padding-left: 50px;
}
ul.bullet {
 margin: 15px 0 15px 0px; padding: 0; list-style: none;  clear: both;
}
ul.bullet li {
  font-weight: normal;
  padding-bottom: 6px; padding-left: 25px;
  background: url("urn:scrapbook:download:error:https://www.lakeshoresf.com/wp-content/themes/lakeshoresf/images/bullet-icon6.png") 0px 2px no-repeat;
}


ul.list {
    margin: 0px 0px 20px 15px; padding: 0;
    text-align: left; display: block; clear: both;
}
ul.list > li {
    margin: 0; padding: 0px 0px 6px 20px;
    position: relative; list-style: none;
}
ul.list > li::before {
  content: "\f067";
  color: #F78C26;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    line-height: 20px;
    position: absolute;
    top: 0px;
}
ul.list > li + li { }
ul.list > li > a { }





.marked-list {
    margin: 0px 0px 20px 10px; padding: 0;
    text-align: left;
}
.marked-list > li {
    margin: 0; padding: 0px 0px 5px 12px;
    position: relative; list-style: none;
}
.marked-list > li::before {
    color: #F78C26;
     content: "\f061";
    font-family: FontAwesome;
    font-size: 8px;
    font-weight: 300;
    left: 0;
    line-height: 20px;
    position: absolute;
    top: 1px;
}
.marked-list > li + li {
}
.marked-list > li > a {
    color: #FFFFFF;
    font-weight: 500;
}
.marked-list > li > a:hover {
    padding-left: 2px; color: #F78C26;
    transition: all 0.3s ease 0s;
}
.marked-list-2 {
    margin: 0px 0px 0px 15px; padding: 0;
    text-align: left;
}
.marked-list-2 > li {
    margin: 0; padding: 3px 0px 3px 25px;
    position: relative; list-style: none;
}
.marked-list-2 > li::before {
    color: #F78C26;
     content: "\f046";
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    line-height: 20px;
    position: absolute;
    top: 6px;
}
.marked-list-2 > li + li {
}
.marked-list-2 > li > a {
    color: #FFFFFF; font-size: 16px;
    font-weight: 400;
}
.marked-list-2 > li > a:hover {
    color: #F78C26; padding-left: 2px;
    transition: all 0.3s ease 0s;
}
ul.bullet-icon {list-style:none;  margin: 15px 0 15px 10px; padding: 0;  }
ul.bullet-icon li {list-style:none;   margin: 0; padding: 0 0 5px 25px; background: url("bullet_icon.png") 0px 0px no-repeat;  }
ul.bullet-icon li a {  color: #FFFFFF; display:block;  text-decoration: none;  }
ul.bullet-icon li a:hover { color: #F28228;  }
.btn-icon{  background-color: #000000; color: #909090;
}
.btn:hover { background: #F04624; color: #FFFFFF; cursor: pointer;  }
.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;max-width:100%;height:auto}
.img-rounded{border-radius:6px}
.img-thumbnail{padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}
.img-circle{border-radius:50%}
.carousel{position:relative}
.carousel-inner{position:relative;overflow:hidden;width:100%}
.carousel-inner>.item{display:none;position:relative;-webkit-transition:.6s ease-in-out left;transition:.6s ease-in-out left}
.carousel-inner>.item>img,.carousel-inner>.item>a>img{line-height:1}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{display:block}
.carousel-inner>.active{left:0}
.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%}
.carousel-inner>.next{left:100%}
.carousel-inner>.prev{left:-100%}
.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0}
.carousel-inner>.active.left{left:-100%}
.carousel-inner>.active.right{left:100%}
.carousel-control{position:absolute;top:0;left:0;bottom:0;width:20px; height: 20px; opacity:.5;filter:alpha(opacity=50);font-size:20px;color:#fff;text-align:center;}
.carousel-control.left{ left: 90%; right:auto;}
.carousel-control.right{left:auto;right:0;}
.carousel-control:hover,.carousel-control:focus{outline:0;color:#fff;text-decoration:none;opacity:.9;filter:alpha(opacity=90)}
.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right{position:absolute;top:0%;z-index:5;display:inline-block; background: #3B3B3B; }
.carousel-control .icon-prev,.carousel-control .glyphicon-chevron-left{left:50%}
.carousel-control .icon-next,.carousel-control .glyphicon-chevron-right{right:50%}
.carousel-control .icon-prev,.carousel-control .icon-next{width:20px;height:20px;margin-top:-10px;margin-left:-10px;font-family:serif}
.carousel-control .icon-prev:before{content:'\2039'}
.carousel-control .icon-next:before{content:'\203a'}
.carousel-indicators{position:absolute;top: 85%; left: 40%;z-index:15;width:20%;padding-left:0;list-style:none;text-align:center}
.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:0px;text-indent:-999px; border-radius:0px;cursor:pointer; background-color:rgba(255, 255, 255, 1); border-radius: 1000px;}
.carousel-indicators .active{margin:0px;width:10px;height:10px;background-color:#7D3EBB}
.carousel-caption, .carousel-caption2 {position:absolute;left:auto;right:0%;top:25%;z-index:10;padding-top:20px;color:#918159; }
.carousel-caption .btn{text-shadow:none}
@media screen and (min-width:768px){
  .carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-prev,.carousel-control .icon-next{width:30px;height:30px;margin-top:-15px;margin-left:-15px;font-size:30px}
 }
.sliderContainer {
 background: rgba(0, 0, 0, 0.5);
  margin: 0px; padding: 10px;   border-radius: 4px;
}
.home .sliderContainer {
 background: rgba(0, 0, 0, 0.5);
  margin: 0px; padding: 10px;   border-radius: 4px;
}
.centerbox{
    background: #F68226; color: #ffffff;
    padding: 20px 18px 15px 15px; font-size: 15px; line-height: 110%
}
.centerbox a{color: #ffffff;}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }
.rslides_tabs li:first-child {
  margin-left: 0;
  }
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }
 .events {
  list-style: none;
  }
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }
.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }
.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #CCCC99;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;  line-height: 40px;  text-transform: capitalize;
  max-width: none;
  }
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 42%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 60px;
  width: 60px;
 background: url("themes.png") no-repeat left top;
  }
.callbacks_nav:active {
  opacity: 1.0;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }
#slider3-pager a {
  display: inline-block;
}
#slider3-pager img {
  float: left;
}
#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}
#slider3-pager a {
  padding: 0;
}
.ban_caption{ position:absolute; width:70%; padding: 0; left: 14%; right: auto;  top: 44%;  z-index: 99; color: #ffffff; text-align: center; text-shadow: 0px 2px 0px #000000;  }
.ban_caption h1{
    float: none;
    color: #fff;
    display: block;
    font-size: 40px; line-height: 100%;
    font-weight: 800;
    margin: 0;
    padding: 10px 0px;
    text-align: center !important;
    text-transform: capitalize;
    }
.ban_caption h4{  letter-spacing: 4px;  font-size: 20px; font-weight: 500; line-height: 110%;  margin: 0px; text-transform: uppercase;   }
.slide-caption-inner{
  color: #FFFFFF; display: inline-block;
  padding: 10px;
}
.partners-logo{
   position:absolute; width:80%; padding: 0; left: 10%; right: auto;  bottom: 5%;  z-index: 99; text-align: center;
}
.callbacks .partners-logo img{ max-width: 95%; background: rgba(255, 255, 255, 0.6); padding: 0.5%;  border: 4px double #333333;
  }
.ban_caption p {
    clear: both;  margin: 10px 0px;
    font-weight: 500;
    line-height:  120%; font-size: 20px;
}
.ban_caption p strong {font-weight: 800; display: block; color: #045CAA;  text-shadow: 1px 1px 2px #ffffff; }
a.slider-more {
    float: none;
    background: #F28228; color: #FFFFFF;   position: relative;
    border: 0px solid #C21501; display: inline-block; text-shadow: none;
    padding: 14px 25px;  margin: 10px 0px 10px 0;  border-radius: 100px;
    text-align: center;  font-size: 16px; font-weight: 500;  line-height: 20px;
    text-decoration: none; text-transform: uppercase;   transition: all 0.3s ease-in-out;
       box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-border-radius: 2px;
}
a.slider-more:hover {
    background: rgba(0, 0, 0, 0.8) !important; color: #FFFFFF;  border: 2px solid #000000;
   	}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
  }
.submitbtn{
   float: none;
    background: transparent; color: #FFFFFF;   position: relative; cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.9); display: inline-block;
    padding: 5px 20px;  margin: 4px 0px; font-family: 'Roboto Condensed', sans-serif;
    text-align: center;  font-size: 18px; font-weight: 400;  line-height: 20px;
    text-decoration: none; text-transform: uppercase;   transition: all 0.35s ease 0s;
}
.submitbtn:hover{  background: rgba(255, 255, 255, 0.8); color: #1999BC;  }
.gallery_holder {
    display: block;
    position: relative;
}
.wpb_image_grid .gallery_holder {
    width: 100.1%;
}
.gallery_holder ul {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.gallery_holder ul li {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
}
.gallery_holder ul li a {
    backface-visibility: hidden;
    display: block;
    position: relative;
}
.gallery_holder ul li a {
    display: block;
    overflow: hidden;
    transform: translateZ(0px);
}
.wpb_image_grid .gallery_holder ul li a {
    margin-bottom: -1px;
    margin-right: -1px;
}
.gallery_holder ul li a img {
    display: block;
    transform: scale(1, 1);
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.gallery_holder ul li.grayscale a img {
    filter: url("urn:scrapbook:download:error:https://www.lakeshoresf.com/wp-content/themes/lakeshoresf/img/desaturate.svg#grayscale");
}
.gallery_holder ul li.grayscale:hover a img {
    filter: none;
}
.gallery_holder ul li:hover a img {
    transform: scale(1.03, 1.03);
}
.gallery_holder ul li .gallery_hover {
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.81);
    bottom: 0;
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: translateZ(0px);
    transition: opacity 0.4s ease 0s;
    visibility: visible;
    width: 100%;
    z-index: 1000;
}
.gallery_holder ul li:hover .gallery_hover {
    opacity: 1;
}
.gallery_holder ul li .gallery_hover i {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
}
.gallery_holder ul.v5 li, .wpb_gallery_slides .gallery_holder ul.v5 li {
    margin: 0;
    width: 20%;
}
.gallery_holder ul.v4 li, .wpb_gallery_slides .gallery_holder ul.v4 li {
    margin: 0;
    width: 25%;
}
.gallery_holder ul.v3 li, .wpb_gallery_slides .gallery_holder ul.v3 li {
    margin: 0;
    width: 33.3333%;
}
.gallery_holder ul.v2 li, .wpb_gallery_slides .gallery_holder ul.v2 li {
    margin: 0;
    width: 50%;
}

.gallery_holder ul li a.responsive_lightbox {
 background: none; box-shadow: none; padding: 0;   border-radius: 0;
}
.gallery_holder ul li br {
margin: 0; padding: 0; display: none;
}

#parallax {
   background-image: url("parallax-4.jpg") ;
   background-size: 100%;  color: #ffffff; text-align: center;
    background-attachment: scroll; font-size: 18px;
    background-position: center; padding: 120px 0px;
}
#parallax2 i.fa{  font-size: 42px; line-height: 50px; float: left; margin-right: 15px;    }
.overlay{
    background: rgba(0, 0, 0, 0.8);  padding: 80px 0px; color: rgba(255, 255, 255, 0.8);
}
#parallax3 {
   background-image: url("urn:scrapbook:download:error:https://www.lakeshoresf.com/wp-content/themes/lakeshoresf/images/lets-work-bg.jpg") ;
   background-size: 100%;  background-position: center; padding: 40px 0px;
   background-attachment: scroll; background-position: center; color: #FFFFFF;
}
#parallax3 h1 {  margin: 0; }
a.button {
    background-color: transparent;
    border: 2px solid  #015AA9;
    padding: 14px 16px 14px 22px;
    color: #015AA9; font-size: 12px;
    cursor: pointer;  font-weight: 700;
    display: inline-block;
    line-height: normal;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
a.button:hover { background: #015AA9; color: #ffffff; }
.parallax-container{
    display: inline-block; padding: 50px; margin: 50px 0; background: rgba(0, 0, 0, 0.5); color: #ffffff;
}
#ourteam {
   background-image: url("parallax-2.jpg") ;
   background-size: 150%;  background-position: center;
   background-attachment: fixed; background-position: center; color: #FFFFFF;
   padding: 60px 0px;
}
.single-team-member {
    background-color: #FFFFFF; color:#333333;
}
.single-team-member img {
    transition: opacity 1s ease 0s, transform 1s ease 0s;
}
.member-image-holder {
    overflow: hidden;
    position: relative;
}
.member-image-holder img {
    transition: all 0.5s linear 0s;
}
.know-more {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 80px 0 0;
    bottom: 0;
    color: #ffffff;
    font-size: 12px;
    height: 80px;
    opacity: 0;
    padding-left: 10px;
    padding-top: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s linear 0s;

    width: 80px;
}
.member-image-holder:hover .know-more {
    opacity: 1;
}
.member .text h4 {
    font-weight: 600;
    margin-bottom: 5px;
}
.our-team .member:first-child {
    margin-left: 0;
}
.our-team .member .text {
    background-color: #fff;
    padding: 5px 0 0 27px;
}
.team-area {
    padding: 70px 0;
}
.team-member-details {
    padding: 25px; border: 1px solid rgba(224, 224, 224, 1);  border-top: none;
}
.team-member-photo img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
.team-member-photo {
    overflow: hidden;
    position: relative;
}
.team-member-photo::after {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    bottom: -100px;
    box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.5);
    content: "";
    height: 200px;
    opacity: 0;
    position: absolute;
    right: -100px;
    transform: scale3d(0.5, 0.5, 1);
    transform-origin: 50% 50% 0;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    width: 200px;
}
a.view-full-size {
    bottom: 0;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    opacity: 0;
    padding: 0 1.5em 1.5em 0;
    position: absolute;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    transform: translate3d(20px, 20px, 0px);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    width: 100px;
    z-index: 999;
}
a.view-full-size:hover, a.view-full-size:focus {
    color: #fff;
}
a.view-full-size span {
 display: inline-block; letter-spacing: 0.35px;  width: 60px; overflow: hidden;
}
.single-team-member img {
    transition: opacity 1s ease 0s, transform 1s ease 0s;
}
.single-team-member:hover a.view-full-size, .single-team-member:hover .team-member-photo::after {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
.single-team-member:hover img {
    transform: scale(1.05);
}
.single-team-member:hover .team-member-photo::after {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}
.single-team-member h4 {
    font-size: 22px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.member a, .single-team-member a {
    text-decoration: none;
}
.post-details{
    background: #FFFFFF; padding: 20px;
}
.post-details h4{  font-family: "Open Sans","Roboto",sans-serif; font-size: 16px;             }
a.btn-red {
    backface-visibility: hidden;
    border-bottom: 2px solid #D64937;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: #D64937;
    display: inline-block;
     font-size: 18px;
    letter-spacing: 4px;
    line-height: normal;
    margin: 0px 0;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
}
a.btn-red::before {
    background: #D64937 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 100% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
a.btn-red:hover, a.btn-red:focus, a.btn-red:active {
    color: white;
}
a.btn-red:hover::before, a.btn-red:focus::before, a.btn-red:active::before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
a.btn-white {
    backface-visibility: hidden;
    border-bottom: 2px solid #FFFFFF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
     font-size: 18px;
    letter-spacing: 4px;
    line-height: normal;
    margin: 0px 0;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
}
a.btn-white::before {
    background: #FFFFFF none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 100% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
a.btn-white:hover, a.btn-white:focus, a.btn-white:active {
    color: #000000;
}
a.btn-white:hover::before, a.btn-white:focus::before, a.btn-white:active::before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.box-border {
    position: relative;
    padding: 30px;
    border: 6px solid #f2f2f2;
    border-radius: 1px;
}
.widget-title {
padding-bottom: 10px;
margin-bottom: 25px;
border-style: dashed;
border-color: #dcdcdc;
border-width: 0 0 1px 0;
}
.bdr{  margin: 10px 0;  display: block; clear: both; border-top: 1px solid #E0E0E0;  }
.unit-left{   float: left; font-size: 40px;   margin-right: 15px; }
.unit-body{   overflow: hidden;  }
a.text-bold {  color: #1999BC;  font-weight: 600; margin-bottom: 10px; line-height: 110%; display: block;}
.newspost-row{  display: block; margin-bottom: 15px; padding: 8px 0px; border-bottom: 1px solid #E0E0E0; }
#news{  background: #F3F3F3; display: block; padding: 50px 0px; color: #666666; }
.featuredbox:hover{ background: #333333;  border: 1px solid transparent;   color: #FFFFFF; }
.content-padding{ display: block; padding: 20px;}
.box-line{ border: 1px solid #E0E0E0; padding: 20px;  }
.bgcanon{   background: #00A7B9; color: #ffffff; }
.bgcontainer{ padding: 15px;}
.submitbg{
    border: 1px solid #ffffff;
    color: #ffffff; padding: 8px 16px;
    font-weight: 700; margin: 4px 0px; cursor: pointer;
    display: inline-block;  background: transparent;
    transition: all 0.35s ease 0s;
}
.submitbg:hover{  background: rgba(255, 255, 255, 0.8);  color: #1999BC;   }
#recent-projects{
    padding: 60px  0px; display: block;
}
.thumbnail {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    overflow: hidden;
    position: relative;
}
.thumbnail img {
    height: auto;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.thumbnail:hover img {
    transform: scale(1.1);
}
.thumbnail > img, .thumbnail a > img {
    margin-left: auto;
    margin-right: auto;
}
.thumbnail2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: -moz-use-text-color;
    border-image: none;
    border-radius: 0;
    border-style: none;
    border-width: medium 0 medium medium;
    padding: 0;
}
.thumbnail2 img {
    height: auto;
    max-width: 100%;
}
.thumbnail2 .caption h4 {
    color: #FFFFFF;
}
* + .caption {
    margin-top: 10px;
}
.thumbnail_wrap {
    width: 100%;
}
.thumbnail_wrap .thumbnail_box {
    float: left;
    overflow: hidden;
    position: relative;
    width: 25%;
}
@media (max-width: 1722px) {
.thumbnail_wrap .thumbnail_box {
    width: 24%; padding: 0.5%;
}
}
.thumbnail_wrap .thumbnail_box img {
    height: auto;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_img {
    position: relative;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_img .overlay {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
}
.lt-ie9 .thumbnail_wrap .thumbnail_box .thumbnail_box_img .overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt {
    left: 0;
    padding: 0 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-16%);
    transition: all 0.3s ease 0s;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt h3 {
  font-family: 'Open Sans','Roboto', sans-serif;  font-size: 16px;  color: #FFFFFF; font-weight: 700; text-transform: uppercase;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p, .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
    opacity: 0;
}
.lt-ie9 .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p, .lt-ie9 .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt a.btn {
    margin-top: 8px; background: #6DA01F; padding: 10px 15px;
    display: inline-block; color: #ffffff; text-transform: capitalize;
}
.thumbnail_wrap .thumbnail_box:hover p, .thumbnail_wrap .thumbnail_box:hover .btn {
    opacity: 1;  color: #C0C0C0;
}
.lt-ie9 .thumbnail_wrap .thumbnail_box:hover p, .lt-ie9 .thumbnail_wrap .thumbnail_box:hover .btn {
}
.thumbnail_wrap .thumbnail_box:hover img {
    transform: scale(1.1);
}
.thumbnail_wrap .thumbnail_box:hover .overlay {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}
.lt-ie9 .thumbnail_wrap .thumbnail_box:hover .overlay {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.thumbnail_wrap .thumbnail_box:hover .thumbnail_box_cnt {
    transform: translateY(-50%);
}
@media (max-width: 1060px) and (min-width: 768px) {
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt h3 {
    font-size: 20px;
    line-height: 20px;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p {
    font-size: 14px;
    line-height: 15px;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
    margin-top: 3px;
    padding: 2px 8px;
}
}
@media (max-width: 767px) {
.thumbnail_wrap .thumbnail_box {
    float: none;
    margin: 0 auto;
    width: 100%;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt h3 {
    font-size: 20px;
    line-height: 20px;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p {
    font-size: 14px;
    line-height: 15px;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
    margin-top: 3px;
    padding: 2px 8px;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_img {
    text-align: center;
    width: 100%;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_img img {
    width: 100%;
}
}
@media (max-width: 479px) {
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt h3 {
    font-size: 16px;
    line-height: 18px;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p {
    font-size: 13px;
    line-height: 14px;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
    margin-top: 3px;
    padding: 2px 8px;
}
}

.inner-container{    }

.attachment-custom_thumb {
  padding-bottom: 15px;
}

h2.head{ display:none; }

.page_header_wrap {
    display: block;
    clear: both;
    padding: 0px 0px 20px 0px;
 /*background-image: url(/wp-content/themes/lakeshoresf/images/parallax-4.jpg); background-attachment: fixed;
    background-size: cover;  background-position: center;*/
    color: #ffffff !important;
    text-shadow: 1px 1px 5px #000;

}
a.responsive_lightbox{
 display: inline-block; margin: 0;   padding: 5px; background: rgba(255, 255, 255, 0.8); border-radius: 4px; box-shadow: 1px 1px 5px #000;
}
a.youtube.responsive_lightbox, a.map.responsive_lightbox, a.map{
 display: inline-block; margin: 0 0 8px 0;   padding: 0px; background: none; border-radius: 0px; box-shadow: none; font-weight: 500;  font-size: 14px;  line-height: 110%; text-decoration: underline;
}

.hours{
    font-size: 14px;  line-height: 130%;  display: block;
}
a.fancybox img{ display: block; clear: both; margin: 0 auto;}
.trainersGrid { text-align: center;}

#wa_rhps_slider_title1 {
text-align: center;
display: inline;
font-size:11px;
}
#wa_rhps_more1 {
    text-align: center;
    display: inline;
}
#wa_rhps_foo_con1 {
    display: block;
    color: #fff; text-align: center;
}

.wa_rhps_slider_title, .wa_rhps_foo_con {
    padding: 0 15px !important;
    text-align: center;
}

table.style1 {
   margin: 0 0 30px; max-width: 100%;
}
table.style1 th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: left;
    vertical-align: top;
}
table.style1 td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    text-align: left;
    vertical-align: top;
}
table.style1 tr td:last-child {
    border-right: medium none;
}
table.style1 th {
    font-weight: 400;
    padding: 14px 20px;
}
table.style1 td {
    line-height: 160%;
    padding: 9px 20px;
}
table.style1 tr {
    background: rgba(0, 0, 0, 0.1);
}
table.style1 tr:nth-child(2n) {
    background: rgba(0, 0, 0, 0.4);
}
.rpc-box{ padding: 10px !important; display: block; }
.car-caption{ font-size: 13px !important; text-align: center !important;}
.fixed-height-image{  border: 6px solid #fff; max-width: 98% !important; height: auto; padding-bottom: 10px; }
.rpc-title{ padding-top: 10px; font-size: 13px !important; }


a.holiday-hours{
 background:   #D76304; margin-top: 5px;
 padding: 6px 16px; display: inline-block;
 color: #ffffff;  border-radius: 5px; text-align: center;
 overflow: hidden;  clear: both; text-transform: uppercase;
}
a.holiday-hours:hover{ background: #333333; }
.responsive_lightbox-2 {
    text-align: center;
    max-width: 100% !important;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    margin: 5px;display:inline-block;
	padding: 9px 9px 3px 9px;
}

#post-15378 ul{margin:0 0 15px 20px;padding:0;}

.wpmm-sticky.wpmm-sticky-wrap { background: rgba(0, 0, 0, 0.9) !important;}
#wp-megamenu-primary .wpmm-search-form input {color:#000 !important;}
.flex-item{ display: flex; position: relative; align-items: center; }
